
.adaptive_placeholder(@height, @radius, @margin: 1em, @border: 1px) {
  @borders: (@border * 2); 
  box-sizing: border-box; 
  width: 100%;           
  height: ~"calc(@{height} + @{borders})"; 
  margin: 0 0 @margin;
  padding: @margin;
  border: @border solid #ccc;
  border-radius: @radius;
  background: #fff;
  resize: none;  
  outline: none; 

  &[required] {
    &:focus {
      border-color: #00bafa;
      + label {
        &[placeholder] {
          &:before {
            color: #00bafa;
          }
        }
      }
    }
  
    &:focus,
    &:valid {
      + label {
        &[placeholder] {
          &:before {
            transition-duration: .2s;
          
            transform: translate(0, (@margin * -1.5)) scale(.9, .9);
          }
        }
      }
    }
    &:invalid {
      + label {
        &[placeholder] {
          &[alt] {
            &:before {
              content: attr(alt); // Content property 1 of 2
            }
          }
        }
      }
    }
    + label {
      &[placeholder] {
        display: block;
        pointer-events: none; // Allows clicking thru label
        line-height: @margin * 1.25;
        margin-top: ~"calc(-@{height} - @{borders})";
      
        margin-bottom: ~"calc((@{height} - @{margin}) + @{borders})";
      
        &:before {
          content: attr(placeholder); // Content property 2 of 2
          display: inline-block;
          margin: 0 ~"calc(@{margin} + @{borders})";
          padding: 0 2px;
          color: #898989;
          white-space: nowrap;
          transition: .3s ease-in-out;
        
          background-image: linear-gradient(to bottom, #fff, #fff);
          background-size: 100% 5px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}

input {
  @height: 3em;
  &[type="text"] {
    .adaptive_placeholder(@height, (@height / 2));
  }
}

